[Unit]
Description=The Eyemetric FR Containers. Keep them running.

[Service]
Restart=always

#Compose up
ExecStart=/usr/bin/podman-compose -f /opt/eyemetric/fr/{{app_type}}/docker-compose.pv.yml  -f /opt/eyemetric/fr/{{app_type}}/docker-compose.frsvc.yml up
#Compose down
ExecStop=/usr/bin/podman-compose -f /opt/eyemetric/fr/{{app_type}}/docker-compose.pv.yml  -f /opt/eyemetric/fr/{{app_type}}/docker-compose.frsvc.yml down

[Install]
WantedBy=default.target
