BASE_IP="{{ local_ip }}"
TPASS_ADDR="{{ tpass_svc }}"
SAFR_DB_USER="{{ safr_db_user }}"
SAFR_DB_PWD="{{ safr_db_pwd }}"
SAFR_DB_NAME="{{ safr_db_name }}"
SAFR_DB_PORT={{ safr_db_port }}
SAFR_API_HTTP_PORT={{ safr_api_http_port }}
SAFR_API_HTTPS_PORT={{ safr_api_https_port }}
TZ="{{ tz }}"
CERT_DIR={{ cert_dir }}
CONSOLE_LOOKUP=false
RUST_LOG=warn,pvwarp=debug
